* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

header, footer {
    text-align: center;
    padding: 1%;
}
header {
    background-color: white;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    background-color: rgb(231, 231, 231);
}

main {
    display: flex;
    border-top: 4px solid rgb(160, 159, 159);
  }

.cards-wrapper {
    width : 70%;
    text-align : center;
    background-color: rgb(236, 232, 232);
  }

.cards-wrapper ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
    min-width: calc(100%/3);
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5em;
    
}

.btn-wrapper {
    min-width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.btn-wrapper button {
    margin: 10px auto;
    background: #72c3dc;
    width: 70%;
    padding: 4% 0;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 5px 0px #2b8ead;
    color: #fff;
}

button:active {
    box-shadow: none;
}

[key='1'],[key='8'] {
   background: #6f98a8;
}

[key='2'],[key='4'] {
    background: #2b8ead;
}

[key='3'],[key='5'],[key='9'] {
    background: #2f454e;
}

[key='6'],[key='7'] {
    background: #bfbfbf;
}

p {
    font-style: italic;
    font-size: 1em;
}

@media screen and (max-width: 376px) {

    .wrapper {
        height: 100vh;
        background-color: transparent;
    }
    main {
        flex-direction: column-reverse;
      }

    .cards-wrapper {
        align-items: center;
        margin: auto;
        min-width: 85%;
        background-color: transparent;
    }

    .cards-wrapper ul {
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        flex-wrap: wrap;
    }
    
    ul li {
        width: 100%;
        max-width: 100%;
        margin: 0 0px 5px 0px;
        background-color: lightgray !important;        
        max-height: 50px;
        color: rgb(82, 82, 82);
        font-size: 1.2em
    }

    .btn-wrapper {
        min-width: 70%;
        flex-direction: row;
        padding: 2%;
        justify-content: center;
    }

    .btn-wrapper button {
        width: 35%;
        margin: 1%;
    }

    [key='1'],[key='8'] {
        border-left: 8px solid #6f98a8;
     }
     
     [key='2'],[key='4'] {
        border-left: 8px solid #2b8ead;
     }
     
     [key='3'],[key='5'],[key='9'] {
        border-left: 8px solid #2f454e;
     }
     
     [key='6'],[key='7'] {
        border-left: 8px solid #bfbfbf;
     }
}